<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <nav>
        <ul class="pagination justify-content-center">
          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage === 0 }">
            <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
          </li>

          <!-- <ng-container *ngFor="let image of images; let i = index"> -->
            <ng-container *appTimes="images.length; let i = index">
            <li
              class="page-item"
              [ngClass]="{ active: i === currentPage }"
              *ngIf="checkWindowIndex(i)">
              <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
            </li>
          </ng-container>

          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage ===  images.length - 1}">
            <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 appClass [backgroundColor]=" 'orange' ">{{ images[currentPage].title }}</h4>
      <hr>
      <div class="justify-conetent-center text-center">
        <img [src]="images[currentPage].url" [alt]="images[currentPage].title">
      </div>
    </div>
  </div>
</div>

<ul *appTimes="5">
  <li>Hi There !</li>
</ul>
